@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Michroma&display=swap');


:root {
    --bg-color: #fffffc; 
    --dark-text-color: #363130; 
    --highlight-color: #d9d5d4;
    --highlight-color-two: #520005; 
    --highlight-color-three: #B9B6B9;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Nav Bar */
.navbar-expand-md {
    background-color: var(--highlight-color);
    display: flex;
}

/* Hero Section */

.hero-section {
    background-color: var(--bg-color);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-text-color);
}

.hero-img {
    height: 50vh;
    padding: 10vh 0 0 0;
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-weight: 700;
    font-family: "Michroma", sans-serif;
}

h2, h3, h4, h5 {
    font-family: "Michroma", sans-serif;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}

.work-card {
    font-family: "Funnel Sans", sans-serif;
    background-color: var(--highlight-color-one);
    color: var(--text-color);
    border: none;
}

.btn {
    background-color: var(--highlight-color-three);
    border: none;
    color: var(--text-color);
}

.btn:hover {
    background-color: var(--highlight-color-two);
}

h2 {
    font-weight: 700;
    color: #333;
}

.modal-body img {
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.catbutton {
    height: 5pc;
    aspect-ratio: 8/8;
    object-fit: cover;
    border: 5px solid;
    border-radius: 50%;
}

.footer {
    background-color: var(--dark-text-color);
    color: var(--bg-color);
    padding: 1pc 1pc 1pc 1pc;
}